.subject.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close
        %h4.text-center= 'Add New Subject'
      = form_for [:admin, @subject], remote: true,  html: {class: 'form-horizontal'} do |f|
        .modal-body
          .form-group
            %label.control-label.col-sm-4=  'Name'
            .col-sm-8
              = f.text_field :name, class: 'form-control'
          .form-group
            %label.col-sm-4.control-label= 'Images'
            .col-md-6.required
              = f.file_field :images, label: 'Image'
        .form-group.space-20
          .modal-footer
            .col-sm-12.pull-right
              = f.submit 'save', data: { confirm: 'Are You Sure want to add New Subject'}, 
                class: 'btn btn-success'