%tr
  %td= book.id
  %td= book.book_name
  %td= book.price
  %td 
    = link_to 'Edit', admin_book_path(book), class: 'btn btn-default btn-success'
    = link_to 'Delete', admin_book_path(book), method: :delete, class: 'btn btn-default btn-success'