.book.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close
        %h4.text-center= 'Add New Book'
      = form_for [:admin, @book], remote: true, multiple: true, html: {class: 'form-horizontal', multiple: true} do |f|
        .modal-body
          .form-group
            %label.control-label.col-sm-4=  'Name'
            .col-sm-8
              = f.text_field :book_name, class: 'form-control'
          .form-group
            %label.control-label.col-sm-4=  'Subject'
            .col-sm-8
              = f.collection_select :subject_id, Subject.all, :id, :name, {hide_label: true}, class: 'form-control'
          .form-group
            %label.control-label.col-sm-4=  'Category'
            .col-sm-8
              = f.collection_select :category_ids, Category.all, :id, :name, {hide_label: true},multiple: true, class: 'form-control'
          .form-group
            %label.col-sm-4.control-label= 'Price'
            .col-sm-8
              = f.text_field :price, class: 'form-control'
          .form-group
            %label.col-sm-4.control-label= 'Images'
            .col-md-6.required
              = f.file_field :images, label: 'Image'
          .form-group
            %label.control-label.col-sm-4='Attachment'
            .col-sm-8
              = f.file_field :record_attachment
          .form-group
            %label.control-label.col-sm-4='Description'
            .col-sm-8
              = f.text_area :description, class: 'form-control'
        .form-group.space-20
          .modal-footer
            .col-sm-12.pull-right
              = f.submit 'save', data: { confirm: 'Are You Sure want to add New Book'}, 
                class: 'btn btn-success'