.content-wrapper
  %section.content.container-fluid
    %section
      .content-wrapper
        .row.row-class
          .col-sm-6
            .access
              %p Students
          .col-sm-6
            .btn-add-new{:style => "float: right;"}
              .space-10
                = link_to 'Add New', new_admin_student_path, remote: :true, class: '.margin-15'
        .table-content
          %table.table.table-striped.table_t
            %thead.head-th{:style => ""}
              %tr
                %th.role.bor.Role-width{:scope => "col", :style => ""} Reference
                %th.role.bor.role-blank-th-t{:scope => "col", :style => ""}   
                  Student Name
                %th.role.bor.role-blank-th-t{:scope => "col", :style => ""} Action
            %tbody
              - @students.each.with_index(1) do |student, index|
                %tr
                  %td.change.tr-radius-left
                    = student.id
                  %td.change.tr-radius-left
                    = student.name
                  %td.change.tr-radius-left 
                    = link_to 'Edit', edit_admin_student_path(student), remote: true, class: 'btn btn-success'
                    = link_to 'Send Confirmation', student_confirmation_path(student: { email: student.email }),
                      method: :post, class: 'btn btn-success'
