!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}/
    %title ELibraryWebApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    / Google Font
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic", :rel => "stylesheet"}/
    - if content_for?(:head)
      = yield(:head)
  %body
    %header
      .container-fluid.custom-head
        .col-md-2
      .header-main
        .container-fluid
          .col-sm-2
            = ''
          .col-mm-5
            = ''
          .col-sm-5
            = ''
      %nav.navbar-navbar-default.custom-nav
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .row
            .col-sm-7
              #myNavbar.collapse.navbar-collapse
              - if user_signed_in?
                = render 'layouts/admin_user_navigation'
              - elsif student_signed_in?
                = render 'layouts/navigation'
              - else
                = render 'layouts/public_navigation'
            .col-sm-2
              - if user_signed_in?
                = link_to 'logout', destroy_user_session_path, method: :delete,
                data: { confirm: 'Are you sure you want to logout?' }, class: 'icon btn'
              - elsif !student_signed_in?
                = link_to 'Admin Login', new_user_session_path, class: 'icon btn'
            .col-sm-2
              - if student_signed_in?
                = link_to 'logout', destroy_student_session_path, method: :delete,
                data: { confirm: 'Are you sure you want to logout?' }, class: 'icon btn'
              - elsif !user_signed_in?
                = link_to 'Student Login', new_student_session_path, class: 'icon btn'
    .container
      = yield

:javascript
  $('.sidebar-menu').tree();


    
