!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}/
    %title ELibraryWebApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    / Google Font
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic", :rel => "stylesheet"}/
    - if content_for?(:head)
      = yield(:head)
  %body
    %header
      - unless user_signed_in? || student_signed_in?
        .top-bar
          .container
            = render 'layouts/public_navigation'
  - if user_signed_in?
    = render 'layouts/admin_user_navigation'
  - elsif student_signed_in?
    = render 'layouts/navigation'
  .container
    = yield

:javascript
  $('.sidebar-menu').tree();


    
