!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}/
    %title ELibraryWebApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .container-fluid.custom-head
        .col-md-2
      .header-main
        .container-fluid
          .col-sm-2
            = ''
          .col-mm-5
            = ''
          .col-sm-5.pull-right
            - if user_signed_in?
              = link_to 'LogOut', destroy_user_session_path, method: :delete,
                data: { confirm: 'Are you sure you want to logout?' }, class: 'icon btn'
            - else
              = link_to 'Login', new_user_session_path, class: 'icon btn btn-success'
      %nav.navbar-navbar-default.custom-nav 
        .container-fluid
          .navbar-header
            %button.navbar-toggle data-toggle="collapse" data-target="#myNavbar" type = 'button'
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            #myNavbar.collapse.navbar-collapse
            - if user_signed_in?
              = render 'layouts/admin_user_navigation'
            - else
              = render 'layouts/navigation'
      #content
        = yield

    
